.nav {
	box-sizing: border-box;
	border:10px;
}
nav img{
	height: 72px;
	width: 72px;
	border-radius: 50%;
}
nav ul{
	margin: 0;
	padding: 0;
	overflow:auto;
}
nav ul li{
	float: left;
	list-style: none;
}
nav ul li a{
	display: block;
	text-decoration: none;
	color: #000;
	padding: 15px 20px;
	letter-spacing
}
nav ul li a::after{
	content: "";
	display: block;
	border-bottom: 2px solid #0af;
	transform: scaleX(0);
	transition: all .3s;
	margin-top: 15px;
}
nav ul li a:hover::after{
	transform: scaleX(1);
}
.footer{
	overlow:auto;
	text-decoration: none;
	float:left;
	padding:10px;
	font-size:17px;
	background-color:white;
	color:black;
	width:1280px;
}
.slide{
	width: 1200px;
	margin: auto;
}
.slide ul{
	margin: 0;
	padding: 0;
}
.slide ul li[title="YouTube video player"]{
	margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
}
.footer2 a{
	text-decoration: none;
}
body{
	overflow-x: hidden;
}
