.borderbox {
	box-sizing: border-box;
	border:10px;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav img{
	height: 72px;
	width: 72px;
	border-radius: 50%;
}
nav ul{
	margin: 0;
	padding: 0;
	overflow:auto;
}
nav ul li{
	float: left;
	list-style: none;
}
nav ul li a{
	display: block;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
	color: #1a6095;
	padding: 15px 20px;
	letter-spacing
}
nav ul li a::after{
	content: "";
	display: block;
	border-bottom: 5px solid #c664c8;
	transform: scaleX(0);
	transition: all .3s;
	margin-top: 15px;
}
nav ul li a:hover::after{
	transform: scaleX(1);
}
.footer{
	overlow:auto;
	text-decoration: none;
	float:left;
	padding:10px;
	font-size:17px;
	background-color:white;
	color:black;
	width:1280px;
	opacity: 0;
}
.footer2{
	opacity: 0;
}
.slide{
	width: auto;
	margin: auto;
	text-align: center;
}
.slide ul{
	margin: 0;
	padding: 0;
}
[title="YouTube video player"]{
	margin: auto;
        padding: 10px;
	aspect-ratio: initial;
}
.footer2 a{
	text-decoration: none;
}
body{
	overflow-x: hidden;
	
}
body{
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #fffb58 0%, #f81cf0 50%, #691f8d 100%);
  border-image-slice: 1;
  margin: 0px;
  padding: 5px;
}
