body {
  margin: 0;
}

#blog-posts-container {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
}

#blog-posts-container a {
  color: #fff;
  text-decoration: none;
}

#blog-posts-container .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#blog-posts-container .post {
  height: 500px;
  position: relative;
  background: linear-gradient(transparent, #000 85%);
}

#blog-posts-container .thumbnail {
  position: absolute;
  inset: 0;
  z-index: -1;
}

#blog-posts-container .meta-data {
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 24px;
  gap: 8px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  left: 0;
  right: 0;
}

#blog-posts-container .summary {
  position: absolute;
  bottom: 60px;
  padding: 24px;
  font-size: 16px;
  line-height: 2;
  height: 80px;
  overflow: hidden;
  opacity: 0;
  transition: all 200ms ease;
}

#blog-posts-container .title-container {
  position: absolute;
  bottom: 50px;
  padding: 24px;
  transition: all 400ms ease;
}

#blog-posts-container .title {
  font-size: 50px;
  line-height: 1;
  font-weight: 600;
  margin: 0;
}

#blog-posts-container .category {
  background: #c1c1ff;
  color: #222;
  font-size: 13px;
  font-weight: 800;
  padding: 2px 8px;
  text-transform: uppercase;
  margin-bottom: 24px;
  display: inline-block;
}

#blog-posts-container .post-link {
  position: absolute;
  inset: 0;
}

#blog-posts-container .post:hover .title-container {
  transform: translateY(-110px);
}

#blog-posts-container .post:hover .summary {
  opacity: 1;
  transition-delay: 280ms;
}

@media (max-width: 1000px) {
  #blog-posts-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  #blog-posts-container {
    grid-template-columns: 1fr;
  }
}


$color-black: #161616;
$color-white: #fff;
$size: 170px; // (Fully responsive)

#black {
  width: 100vw;
  height: 100px;
  margin: 0px;
  padding: 0px;
  background-color: $color-black;
}
// Cat
.cat {
	position: relative;
	height: $size;
	width: $size * 1.13;
}

// Ears
.ear {
	position: absolute;
	top: -30%;
	height: 60%;
	width: 25%;
	background-color: $color-white;
	
	// Ear hair
	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: 24%;
		height: 10%;
		width: 5%;
		border-radius: 50%;
		background-color: $color-black;
	}
	
	&::after {
		transform-origin: 50% 100%;
	}
}

.ear--left {
	left: -7%;
	border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
	transform: rotate(-15deg);
	
	&::before,
	&::after {
		right: 10%;
	}
	
	&::after {
		transform: rotate(-45deg);
	}
}

.ear--right {
	right: -7%;
	border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
	transform: rotate(15deg);
	
	&::before,
	&::after {
		left: 10%;
	}
	
	&::after {
		transform: rotate(45deg);
	}
}

// Face
.face {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: $color-black;
	border-radius: 50%;
}

// Eyes
.eye {
	position: absolute;
	top: 35%;
	height: 30%;
	width: 31%;
	background-color: $color-white;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	
	// Eyelids
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		width: 100%;
		border-radius: 0 0 50% 50% / 0 0 40% 40%;
		background-color: $color-black;
		animation: blink 4s infinite ease-in;
	}
	
	@keyframes blink {
		0% { height: 0; }
		90% { height: 0; }
		92.5% { height: 100%; }
		95% { height: 0; }
		97.5% { height: 100%; }
		100% { height: 0; }
	}
	
	// Tips of the eyes
	&::before {
		content: '';
		position: absolute;
		top: 60%;
		height: 10%;
		width: 15%;
		background-color: $color-white;
		border-radius: 50%;
	}
}

.eye--left {
	left: 0;
	
	&::before {
		right: -5%;
	}
}

.eye--right {
	right: 0;
	
	&::before {
		left: -5%;
	}
}

// Pupils
.eye-pupil {
	position: absolute;
	top: 25%;
	height: 50%;
	width: 20%;
	background-color: $color-black;
	border-radius: 50%;
	animation: look-around 4s infinite;
	
	@keyframes look-around {
		0% { transform: translate(0) }
		5% { transform: translate(50%, -25%) }
		10% { transform: translate(50%, -25%) }
		15% { transform: translate(-100%, -25%) }
		20% { transform: translate(-100%, -25%) }
		25% { transform: translate(0, 0) }
		100% { transform: translate(0, 0) }
	}
	
	.eye--left & {
		right: 30%;
	}
	
	.eye--right & {
		left: 30%;
	}
	
	// Glare on the pupil
	&::after {
		content: '';
		position: absolute;
		top: 30%;
		right: -5%;
		height: 20%;
		width: 35%;
		border-radius: 50%;
		background-color: $color-white;
	}
}

// Muzzle
.muzzle {
	position: absolute;
	top: 60%;
	left: 50%;
	height: 6%;
	width: 10%;
	background-color: $color-white;
	transform: translateX(-50%);
	border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

/* General page styling */
#black {
  display: flex;
  align-items: right;
  justify-content: center;
}
